body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #58585a;
}

.navigation {
	width: 100%;
}

.navbar {
	width: 80%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 10%;
/*	margin-right: 100px;*/
	padding: 5px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 10;
}

.logo-image {
	width: 100px;
	height: 50px;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	display: inline-block;
	padding: 10px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

li:hover {
	color: #59CFC9;
	border-top: 2px solid #59CFC9;
	border-bottom: 2px solid #59CFC9;
}

section {
	width: 100%;
	margin-top: 80px;
	padding: 20px;
}

footer {
	position: absolute;
	bottom: 0px;
	color: black;
	opacity: .6;
	width: 100%;
	text-align: right;
	margin-top: -50px;
	padding-right: 20px;
}