body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #58585a;
}

.navigation {
	width: 100%;
	background-color: white;
}

.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	padding: 5px;
	padding-left: 16%;
	padding-right: 16%;
	position: fixed;
	background-color: white;
	top: 0;
	z-index: 10;
}

.logo-image {
	width: 100px;
	height: 50px;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	display: inline-block;
	padding: 10px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

li:hover {
	color: #59CFC9;
	border-top: 2px solid #59CFC9;
	border-bottom: 2px solid #59CFC9;
}

.navbar .responsiveIcons {
	display: none;
}

#menu-icon {
	margin-top: 5px;
}

@media (max-width: 600px) {
	.navbar ul {
		display: none;
	}
	.navbar .responsiveIcons {
		display: initial;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

section {
	width: 100%;
	margin-top: 80px;
	padding: 20px;
}

footer {
	position: absolute;
	bottom: -47%;
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

footer p {
	color: white;
	text-shadow: 1.5px 1.5px #58585a
}