<div class="navigation">

<div class="navbar">
		<a ui-sref="home"><img class="logo-image" src="https://i.imgur.com/BYYRFxi.png"></a>

		<ul class="menu">
			<a ui-sref="home"><li>Home</li></a>
			<a ui-sref="randomGenerator"><li>Random</li></a>
			<a ui-sref="about"><li>About</li></a>
			<a ui-sref="view"><li>View 3</li></a>
		</ul>

		<div class="responsiveIcons">
    		<!-- <img id="circleLogo" src="https://cdn1.iconfinder.com/data/icons/cooking-and-food/510/14-chef-512.png" alt="Circle Logo"/> -->
    		<i class="medium material-icons" id="menu-icon">menu</i>
    	</div>
</div>

</div>