<section class="mid_container" ng-model="show">
	<div class="loading">
      	<img id="loading-gif" src="https://media.giphy.com/media/l39765g6zcASQXGMg/giphy.gif"/> </br>
      	<p>Loading yummy goodness...</p>
  	</div>

	<div ng-show="show" id="new-search">
		<button type="button" ui-sref="home">New Search</button> </br>

		<p id="now-showing" ng-show="show && first">Now showing yummy noms with {{first}}<span ng-show="second && show">, {{second}}</span><span ng-show="third && show">, {{third}}</span></p>
	</div>

	<div id="noMatchesMessage">
		<p>"No recipes found. Please try again or order from your nearest Dominoes."</p>
		<img src="https://media.giphy.com/media/ETTzs1c6mS36g/giphy.gif" alt="hamster eating pizza"/>
	</div>

	<div ng-show="show" class="recipe-display" ng-repeat="recipe in recipes">
			{{recipe.title}}-{{recipe.recipe_id}} </br>
			<a ng-click="selectRecipe(recipe)" class="waves-effect waves-light"><img id="recipe-images" ng-src={{recipe.image_url}}></a>

	</div>

	<div id="modal1" class="modal">
    	<div class="modal-content">
      		<h4 id="title"></h4>

      		<p id="ingredients">
      			
      		</p>
    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">See Full Instructions</a>
    	</div>
  	</div>
	
</section>