<section>
	<button id="new-search" type="button" ui-sref="home">New Search</button> </br>

	<p ng-show="show && first">Now showing yummy noms with {{first}}<span ng-show="second && show">, {{second}}</span><span ng-show="third && show">, {{third}}</span></p>

	<div class="recipe-display" ng-repeat="recipe in recipes">
			{{recipe.title}}-{{recipe.recipe_id}} </br>
			<a ng-click="selectRecipe(recipe)" class="waves-effect waves-light btn"><img id="recipe-images" ng-src={{recipe.image_url}}></a>

	</div>
	<div id="modal1" class="modal">
    	<div class="modal-content">
      		<h4 id="title"></h4>
      		<p id="ingredients"></p>
    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">See Full Instructions</a>
    	</div>
  	</div>
	
</section>