#recipes-section {
	background-image: url("https://i.imgur.com/spe42c2.png");
	background-position: center;
	padding-top: 40px;
}

.loading {
	text-align: center;
	vertical-align: middle;
}

.loading p {
	color: white;
}

#loading-gif {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: center;
}

.mid_container{
	min-height: 92vh;
	text-align: center;
}

#noMatchesMessage {
	text-align: center;
	display: none;
	color: white;
}

#noMatchesMessage i {
	color: #58585a;
}

#noMatchesMessage img {
	border-radius: 50%;
	border: 2px dashed #59CFC9;
	max-width: 100%;
}

#new-search {
	position: fixed;
	margin-left: -20px;
	top: 80px;
	width: 100vw;
	background-color: white;
	z-index: 10;
	text-align: center;
}

i {
	font-style: normal;
	color: #59CFC9;
}

.recipe-display {
	position: relative;
	top: 55px;
	z-index: 1;
	text-align: center;
}

.title-container {
	padding: 5px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 5px;
	width: 270px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#recipe_title {
	color: #58585a;
}

#recipe-images {
	min-width: 100px;
	width: 250px;
	border-radius: 10px;
	border: 2px solid white;
}

#recipeGrid {
	min-width: 255px;
}

.modal-content p {
	text-align: left;
}

.modal-main-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3%;
}

.modal-main-section #ingredients {
	width: 38%;
}

.modal-main-section img {
	border-radius: 7px;
	border: 2px solid #58585a;
	width: 62%;
}

.modal-footer a:hover {
	color: #59CFC9;
	border-top: 2px solid #59CFC9;
	border-bottom: 2px solid #59CFC9;
}
