.loading {
	text-align: center;
	vertical-align: middle;
}

#loading-gif {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: center;
}

.mid_container{
	min-height: 92vh;
	text-align: center;
}

#noMatchesMessage {
	text-align: center;
	display: none;
}

#new-search {
	position: fixed;
	margin-left: -20px;
	top: 80px;
	width: 100vw;
	background-color: white;
	z-index: 10;
	text-align: center;
}

i {
	font-style: normal;
	color: #59CFC9;
}

.recipe-display {
	position: relative;
	top: 55px;
	z-index: 1;
}

#recipe-images {
	min-width: 100px;
	width: 250px;
/*	height: 200px;*/
	border-radius: 10px;
}

#recipes {
	margin-top: 30px;
	width: 75%;
	/*display: inline-grid;*/
	flex-wrap: wrap;
	position: relative;
	flex-direction: row;
}

.modal-content p {
	text-align: left;
}

